<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <title>Informe</title>
</head>
<body>
    {{> menu}}
    <br/><br/><br/>
    <h1>{{site.title}}</h1>
    <h2>{{site.subtitle}}</h2>
    <ul>
        {{#each cities}}
        
        <li>
            <strong>{{name}}</strong>
            - {{lookup ../countries country}}
            – {{population}}
            {{#if (lte population 800000)}} - Petita
            {{else}}
             - Gran
            {{/if}}
              {{#if coastal}} - 🌊 Costanera
            {{else}}
             - Interior
            {{/if}}
          


        </li>
        {{/each}}
    </ul>    
</body>
</html>